#menu{
  margin-left: 70%;
  margin-top: -8%;
}
#body{
  width:68%;
  margin-top: -2%;
}
#menuTi{
  color: #030F3B;
}
h1{
  margin-left: 250px;
  margin-top: -90px;
  color: #030F3B;
}

h2{
  color:#0A2797;
}
h3{
  color:#1C40CA ;
}
h4{
  color: #3F65F9;
}

body {
  margin-left: 10px;
}

#lora {
    width: 200px;
    height: 150px;
}

#gate {
  width:150px ;
  height:100px ;
}

#sensor {
  width:150px ;
  height:100px ;
}


