h1{
  margin-left: 250px;
  margin-top: -90px;
}

body {
  margin-top: 10px;
  margin-left: 10px;
}

#lora {
    width: 200px;
    height: 150px;
}

#gate {
  width:100px ;
  height:50px ;
}

#sensor {
  width:100px ;
  height: 50px;
}
