h1{
  margin-left: 250px;
  margin-top: -90px;
}

body {
  margin-top: 10px;
  margin-left: 10px;
}

#lora {
    width: 200px;
    height: 150px;
}

#gate {
  width:150px ;
  height:75px ;
}

#sensor {
  width:80px ;
  height: 40px;
}
